.image {
  position: absolute;
  cursor: pointer;
  height: 57.5rem;
  margin-top: 0.2rem;
  object-fit: cover;
  top: 12rem;
  width: 80%;
}

.active {
  composes: image;
  -webkit-animation: fade-in 0.5s;
  animation: fade-in 0.5s;
  display: block;
}

.inactive {
  composes: image;
  display: none;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Tablet */
@media screen and (orientation: landscape) and (width <= 1194px) {
  .image {
    top: 11rem;
  }
}

@media screen and (orientation: landscape) and (width <= 1024px) {
  .image {
    top: 10rem;
  }
}
