@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  --background: rgb(245 245 245);
  --background-box-shadow: 0.1rem 0.1rem 1.5rem rgba(0 0 0 / 50%);
  --on-background-heading: rgba(0 0 0 / 90%);
  --on-background-text: rgb(55 55 55 / 90%);
  --border-radius: 0.5rem;
  --letter-spacing-animation: 1.5rem;
}

[data-theme='dark'] {
  --background: rgb(10 10 10);
  --background-box-shadow: 0.1rem 0.1rem 1.5rem rgba(255 255 255 / 50%);
  --on-background-heading: rgba(255 255 255 / 90%);
  --on-background-text: rgba(245 245 245 / 90%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--on-background-text);
  font-family: Inter, sans-serif;
  font-weight: 400;
  inset: 0;
  line-height: 1.5;
  margin: 0;
  max-width: 192rem;
  padding: 0;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

a {
  color: var(--on-background-text);
  cursor: pointer;
  text-decoration: none;
}

button,
textarea {
  font-family: inherit;
}

form,
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 800;
  margin: 0;
}

h2 {
  font-weight: 700;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
