::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(160 160 160);
  border-radius: var(--border-radius);
  min-height: 4rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(128 128 128);
}
