.about {
  display: grid;
  place-items: center;

  h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    line-height: 2rem;
    width: 70%;

    div {
      display: grid;
      background: rgb(38 70 83);
      place-items: center;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin: 2.5rem 0;
    }

    p {
      font-size: 1.6rem;
    }

    .box1 {
      grid-area: 1 / 1 / 3 / 3;
    }

    .box6 {
      grid-area: 7 / 1 / 9 / 3;
    }

    .iconbox {
      color: rgb(0 0 0);
      padding: 15%;
      text-align: center;

      i {
        font-size: 5rem;
      }

      &.box2 {
        grid-area: 3 / 1 / 5 / 2;
      }

      &.box3 {
        grid-area: 5 / 1 / 7 / 2;
      }

      &.box4 {
        grid-area: 3 / 2 / 5 / 3;
      }

      &.box5 {
        grid-area: 5 / 2 / 7 / 3;
      }

      &:nth-child(2) {
        background: rgb(42 157 143);
      }

      &:nth-child(3) {
        background: rgb(233 196 106);
      }

      &:nth-child(4) {
        background: rgb(244 162 97);
      }

      &:nth-child(5) {
        background: rgb(231 111 81);
      }
    }

    .textbox {
      color: rgb(255 255 255);
      padding: 8rem 0;
      text-align: justify;
      width: 70%;

      h2 {
        color: rgb(55 255 255);
        font-size: 3rem;
        font-weight: 600;
        margin: 2.5rem 0;
      }
    }
  }
}

/* Tablet */
@media screen and (width <=1366px) {
  .about {
    .grid {
      width: 75%;
    }
  }
}

@media screen and (width <=1194px) {
  .about {
    .grid {
      width: 85%;
    }
  }
}

@media screen and (width <=1024px) {
  .about {
    .grid {
      width: 95%;
    }
  }
}

@media screen and (width <=854px) {
  .about {
    .grid {
      width: 100%;
    }
  }
}
