.contact {
  display: flex;
  flex-direction: column;
  margin: 20vh auto;
  width: 38vw;

  .button {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

    button {
      border-radius: var(--border-radius);
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 500;
      padding: 0.5rem 0;
      width: 8rem;
    }
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 4rem 0;
    text-align: center;

    a:hover {
      border-bottom: 0.4rem solid var(--on-background-text);
    }
  }

  p {
    color: rgb(0 224 0);
    font-size: 2rem;
    font-weight: 600;
    margin: -1.1rem;

    &.active {
      visibility: visible;
    }

    &.inactive {
      visibility: hidden;
    }
  }

  .form {
    border: 0.5rem solid var(--on-background-text);
    height: 21rem;
    text-align: center;

    textarea {
      border: 0.3rem solid var(--on-background-text);
      font-size: 1.6rem;
      height: 13rem;
      margin: 1rem 0 1.4rem;
      padding: 1rem;
      resize: none;
      width: 34vw;
    }
  }
}

/* Tablet */
@media screen and (width <=1366px) {
  .contact {
    margin: 23vh auto;
    width: 50vw;

    .form {
      textarea {
        width: 45.8vw;
      }
    }
  }
}

@media screen and (width <=1194px) {
  .contact {
    margin: 16vh auto;
    width: 50vw;

    .form {
      textarea {
        width: 45vw;
      }
    }
  }
}

@media screen and (width <=1024px) {
  .contact {
    margin: 16vh auto;
    width: 55vw;

    .form {
      textarea {
        width: 49.5vw;
      }
    }
  }
}

@media screen and (width <=854px) {
  .contact {
    margin: 27vh auto;

    .form {
      textarea {
        width: 58vw;
      }
    }
  }
}

@media screen and (width <=780px) {
  .contact {
    margin: 25vh auto;

    .form {
      textarea {
        width: 57.5vw;
      }
    }
  }
}
