.blog {
  .feature_article {
    cursor: default;
    margin-bottom: 2rem;

    a {
      font-size: 1.6rem;
      margin-left: 2rem;
    }

    h1 {
      color: var(--on-background-heading);
      font-size: 2.9rem;
      margin: 0.5rem 0;
      text-align: center;
    }

    img {
      object-fit: cover;
      height: 62rem;
      width: 100%;
    }

    p {
      font-size: 1.7rem;
      margin: 0.5rem 2rem;
    }
  }

  .sub_articles {
    display: flex;
    justify-content: space-between;

    .sub_article {
      flex: 1;
      border-radius: var(--border-radius);
      box-shadow: var(--background-box-shadow);
      cursor: default;
      margin: 0 2rem;
      padding: 1.5rem;

      a {
        font-size: 1.5rem;
      }

      h2 {
        color: var(--on-background-heading);
        font-size: 2.4rem;
        margin: 0.5rem 0;
      }

      img {
        object-fit: cover;
        height: 30rem;
        width: 100%;
      }

      p {
        font-size: 1.6rem;
        margin: 0.5rem 0 1rem;
      }
    }
  }
}

/* Tablet */
@media screen and (width <= 1366px) {
  .blog {
    .feature_article {
      h1 {
        line-height: 1.3;
      }

      img {
        height: 58rem;
      }

      p {
        margin: 0.5rem 2rem 1rem;
      }
    }

    .sub_articles {
      flex-direction: column;

      .sub_article {
        margin-bottom: 3rem;

        a {
          margin-left: 2rem;
        }

        h2 {
          line-height: 1.3;
          margin: 0.5rem 2rem;
        }

        img {
          height: 55rem;
        }

        p {
          margin: 0.5rem 2rem 1rem;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (width <= 1194px) {
  .blog {
    .feature_article {
      img {
        height: 50rem;
      }
    }

    .sub_article {
      img {
        height: 48rem;
      }
    }
  }
}

@media screen and (width <=1024px) {
  .blog {
    .feature_article {
      img {
        height: 44rem;
      }
    }

    .sub_article {
      img {
        height: 40rem;
      }
    }
  }
}

@media screen and (width <= 854px) {
  .blog {
    .feature_article {
      img {
        height: 35rem;
      }
    }

    .sub_article {
      img {
        height: 32rem;
      }
    }
  }
}

@media screen and (width <= 780px) {
  .blog {
    .feature_article {
      img {
        height: 33rem;
      }
    }

    .sub_article {
      img {
        height: 30rem;
      }
    }
  }
}
