.article {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.center_image_article {
    img {
      object-fit: cover;
      height: 60rem;
      width: 100%;
    }

    .text_content {
      margin-top: 1rem;
      width: 95%;

      h1 {
        font-size: 2.9rem;
        text-align: center;
      }

      h2 {
        font-size: 2.1rem;
        padding-left: 3rem;
      }

      p {
        font-size: 1.6rem;
        margin: 1rem 0;
        padding: 0 3rem;
      }

      :last-child {
        margin-bottom: 0;
      }
    }
  }

  &.left_image_article {
    flex-direction: row;

    .text_content {
      margin-left: 2.5rem;
    }
  }

  &.right_image_article {
    flex-direction: row-reverse;

    .text_content {
      margin-right: 2.5rem;
    }
  }

  &.left_image_article,
  &.right_image_article {
    align-items: flex-start;

    img {
      object-fit: cover;
      height: 50rem;
      width: 50rem;
    }

    .text_content {
      width: 100%;

      h1 {
        font-size: 2.9rem;
        text-align: center;
      }

      h2 {
        font-size: 2.1rem;
      }

      p {
        font-size: 1.6rem;
        margin: 1rem 0;
      }

      :last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* Tablet */
@media screen and (width <=1366px) {
  .article {
    &.center_image_article {
      img {
        height: 58rem;
      }
    }

    &.left_image_article,
    &.right_image_article {
      img {
        height: 45em;
        width: 45rem;
      }
    }
  }
}

@media screen and (width <= 1194px) {
  .article {
    &.center_image_article {
      img {
        height: 50rem;
      }
    }

    &.left_image_article,
    &.right_image_article {
      img {
        height: 40em;
        width: 40rem;
      }
    }
  }
}

@media screen and (width <=1024px) {
  .article {
    &.center_image_article {
      img {
        height: 44rem;
      }
    }

    &.left_image_article,
    &.right_image_article {
      img {
        height: 35em;
        width: 35rem;
      }
    }
  }
}

@media screen and (width <= 854px) {
  .article {
    &.center_image_article {
      img {
        height: 35rem;
      }

      .text_content {
        width: 100%;
      }
    }

    &.left_image_article,
    &.right_image_article {
      img {
        height: 30rem;
        width: 30rem;
      }
    }
  }
}

@media screen and (width <= 780px) {
  .article {
    &.center_image_article {
      img {
        height: 33rem;
      }
    }

    &.left_image_article,
    &.right_image_article {
      img {
        height: 25rem;
        width: 25rem;
      }
    }
  }
}
