.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
  border-bottom: 0.2rem solid var(--on-background-text);
  cursor: default;
  height: 6rem;
  padding: 1rem 5%;
  top: 0;
}
