.gallery {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 14rem);
  margin-bottom: 4rem;

  .image {
    position: relative;
    overflow: hidden;

    img {
      cursor: pointer;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
      width: 100%;

      &:hover {
        transform: scale(1.1);
      }
    }

    &.image1 {
      grid-area: 1 / 1 / 4 / 2;
    }

    &.image2 {
      grid-area: 4 / 1 / 5 / 3;
    }

    &.image3 {
      grid-area: 3 / 2 / 4 / 3;
    }

    &.image4 {
      grid-area: 1 / 2 / 3 / 4;
    }

    &.image5 {
      grid-area: 3 / 3 / 5 / 4;
    }

    &.image6 {
      grid-area: 1 / 4 / 3 / 6;
    }

    &.image7 {
      grid-area: 1 / 6 / 4 / 7;
    }

    &.image8 {
      grid-area: 3 / 5 / 4 / 6;
    }

    &.image9 {
      grid-area: 3 / 4 / 5 / 5;
    }

    &.image10 {
      grid-area: 4 / 5 / 5 / 7;
    }
  }
}

/* Tablet */
@media screen and (orientation: landscape) and (width <= 1194px) {
  .gallery {
    margin: -1rem 0 3rem;
  }
}

@media screen and (orientation: landscape) and (width <= 1024px) {
  .gallery {
    margin: -2rem 0 2rem;
  }
}
