.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  font-size: 2rem;

  .social_media_icons {
    color: var(--on-background-heading);
    cursor: pointer;
    margin-top: 0.5rem;

    i:hover {
      transform: scale(1.15);
    }

    i.spacer {
      margin: 0 0.8rem;
    }
  }
}
