.nav {
  margin: -0.4rem 15rem 0 0;

  a {
    font-size: 1.5rem;
    margin-left: 2rem;

    &:hover {
      border-bottom: 0.3rem solid var(--on-background-text);
      padding-bottom: 0.1rem;
    }
  }
}

/* Tablet */
@media screen and (width <=1366px) {
  .nav {
    margin: 0.8rem 13rem 0 0;

    a {
      margin-left: 1.5rem;
    }
  }
}
