.page_not_found {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(245 245 245);
  height: 80vh;
}

/* Tablet */
@media screen and (orientation: portrait) and (width <=1024px) {
  .page_not_found {
    height: 88vh;
  }
}

@media screen and (orientation: portrait) and (width <=854px) {
  .page_not_found {
    height: 86vh;
  }
}

@media screen and (orientation: portrait) and (width <=780px) {
  .page_not_found {
    height: 84vh;
  }
}
