.theme_switcher {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  right: 2.5rem;
  top: 2.5rem;

  span {
    position: relative;
    color: var(--on-background-text);
    font-size: 1.5rem;
    margin-right: 1rem;
    top: -0.5rem;
  }

  i.fas {
    color: var(--on-background-heading);
    font-size: 2.6rem;

    &:hover {
      transform: scale(1.1);
    }
  }
}

/* Tablet */
@media screen and (width <=1366px) {
  .theme_switcher {
    top: 3.2rem;
  }
}
